.container--portfolio {
	width: 100%;
	margin-top: 110px;
	margin-bottom: 20px;
}

.works-list {
	display: grid;
	grid-template-columns: repeat(4, 480px);
}

.a {
	grid-row-start: 1;
	grid-row-end: 2;
}

.b {
	grid-row-start: 1;
	grid-row-end: 2;
}

.c {
	grid-row-start: 1;
	grid-row-end: 3;
}

.work-item {
	display: block;
	width: 480px;
	height: 390px;
}

.twolines {
	height: 780px;
}

.work1 {
	background-image: url("../images/work1.jpg");
	display: block;
	height: 100%;
}

.work2 {
	background-image: url("../images/work2.jpg");
	display: block;
	height: 100%;
}

.work3 {
	background-image: url("../images/work3.jpg");
	display: block;
	height: 100%;
}

.work4 {
	background-image: url("../images/work4.jpg");
	display: block;
	height: 100%;
}

.work5 {
	background-image: url("../images/work5.jpg");
	display: block;
	height: 100%;
}

.work6 {
	background-image: url("../images/work6.jpg");
	display: block;
	height: 100%;
}

.work7 {
	background-image: url("../images/work7.jpg");
	display: block;
	height: 100%;
}

.work-item:hover .gradient {
	visibility: visible;
}

.gradient--portfolio {
	width: 100%;
	height: 100%;
}

.picture-icon {
	padding-top: 33%;
	padding-bottom: 20px;
}

.picture-icon-twolines {
	padding-top: 66%;
	padding-bottom: 20px;
}

.work-title,
.work-caption {
	display: block;
	color: #fff;
	text-align: center;
}

.work-title {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	padding-bottom: 15px;
}

.work-caption {
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	line-height: 1.5;
	font-style: italic;
}