/*arrows*/

.slick-prev {
    left: -60px;
}

.slick-next {
    right: -60px;
}

.slick-prev::before
{
    content: url("../images/arrowleft.png");
    opacity: 1;
}


.slick-next::before
{
    content: url("../images/arrowright.png");
    opacity: 1;
}


.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: .5;
}
